.thumbnail {
    border: 2px solid yellow;
}

#headerCurrentWord {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;

}

#headerLettersAlreadyGuessed {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;

}

#headerWins {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;

}

#headerLosses {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;

}

#guessesRemaining{ 
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
}

img {
   
    margin: 30px auto;
    padding:20px;

}
#currentWord, #Wins, #Losses, #lettersAlreadyGuessed, #guessesLeft{

    font-size: 20px;
    text-align: center;
    height: 50px;

}


 