

#headerCurrentWord {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    font-style: oblique;

}

#headerLettersAlreadyGuessed {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    font-style: oblique;



}

#headerWins {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    font-style: oblique;



}

#headerLosses {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    font-style: oblique;



}

#guessesRemaining{ 
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    font-weight: bolder;
    font-style: oblique;


}

img {
   
    margin: 30px auto;
    padding:20px;

}
#currentWord, #Wins, #Losses, #lettersAlreadyGuessed, #guessesLeft{

    font-size: 20px;
    text-align: center;
    height: 50px;

}


 