.thumbnail {
    border: 2px solid yellow;
}

#headerCurrentWord {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;

}

button {
    color: blue;
}
img {
   
    margin: 30px auto;
    padding:20px;

}
#currentWord {

    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    height: 100px;

}